{% extends "base.html.twig" %}
{% block title %}
Test affichage
{% endblock %}

{% block body %}
    <h1>{% block h1 %}Affichage de prénom :{% endblock %}</h1>
    <br/><br/>
    <ul>
     <li>{{ affiche[0] }}</li>
     <li>{{ affiche[1] }}</li>
    </ul>
{% endblock %}
