{% extends "base.html.twig" %}

{% block title %} l'enregistrement d'un nouvel utilisateur {% endblock %}

{% block body %}

<h1> Remplissez correctement ce formulaire pour ajouter un nouvel utilisateur </h1>

<br/><br/>
<hr/>
<br/<br/>

{{ form(userform)}}









<br/>



{% endblock %}