{% extends "base.html.twig" %}

{% block title %} Modification d'un auteur! {% endblock %}

{% block body %}
<div>
<h1> Modification des données d'un auteur </h1>
<br/><br/>
<hr/>
<br/>

{{form(formauteur)}}