{% extends "base.html.twig" %}

{% block title %} Affichage de commentaire!{% endblock %}

{% block body %}
<h1> Formulaire d'un commentaire </h1>

<br/><br/>
<hr/>
<br/>

{{form(commentaireform)}}
{% endblock %}