{% extends "base.html.twig" %}

{# {% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %} #}

{% block title %} Bienvenu(e) à la page de formulaire d'une nouvelle catégorie {% endblock %}

{% block body %}

<h1> Prenez le soin de bien le remplir! </h1>

<br/><br/>
<hr/>
<br/><br/>

{{ form(Catform)}}






{% endblock %}