{% extends 'base.html.twig' %}

{% block title %}Présentation des catégories!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Vous êtes à la rubrique des catégories! ✅</h1>

<br/><br/>
<hr/>
<br/>

<table border="1">
<tbody>
{% for categorie in categories %}
<thead>
<tr>
<th> id </th>
<th> titre </th>
<th> resume </th>
</tr>
</thead>

<tr>
<td><a href="{{ path('cat_id', {'id':categorie.id }) }}"> Voir les détail l'id n° {{categorie.id}} </a></td>
</tr>       
{% endfor %}
</tbody>
</table>

<br/><br/>

<ul>
<li> <a href="{{ path('fcategorie')}}"> Ajouter une nouvelle catégorie </a> </li>
<li> <a href="{{ path('demarrage')}}"> Revenir à la page d'accueil </a> </li>
</ul>
</div>
{% endblock %}
