{% extends "base.html.twig" %}

{% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %}

{% block title %}
	nouvelle catégorie
{% endblock %}

{% block body %}

	{{ form_start(formCategorie) }}
	Titre :
	{{ form_widget(formCategorie.titre) }}
	Résumé :
	{{ form_widget(formCategorie.resume) }}
    <button type="submit" class="btn btn-success">envoyer</button>
	{{ form_end(formCategorie) }}


{% endblock %}
