{% extends "base.html.twig" %}

{% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %}

{% block title %} Suppression d'une catégorie! {% endblock %}

{% block body %}

<h1> Suppression d'une catégorie </h1>

<br/><br/>
<hr/>
<br/><br/>

{{ form_start(formedit)}}
Titre : {{ form_widget(formedit.titre)}} <br/>
Résumé : {{ form_widget(formedit.resume)}} <br/>

<button type="submit" class="btn btn-success"> Supprimer </button>
{{ form_end(formedit) }}
{% endblock %}