{% extends "base.html.twig" %}

{% block title %} Bienvenu(e) au site de la bibliothèque de GUINOT {% endblock %}

{% block body %}

<div>
<h1> Vous êtes sur le site de la bibliothèque de GUINOT! </h1>

<br/><br/>
<hr/><hr/>
<br/><br/>

{% include "menu_article.html.twig" %}

</div>

{% endblock %}