{% extends "base.html.twig" %}

{# {% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %} #}

{% block title %} formulaire à saisir {% endblock %}

{% block body %}

<div class="form">

<h1> Veuillez remplir ce formulaire correctement! </h1>
<br.!< <br/>
<hr/>
<br/><br/>

 {{form(Articleform)}}

{% endblock %}